<h1>Editing Dish</h1>

<%= render 'form' %>

<td id= "link"><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Show', @dish %> |
<%= link_to 'Back', dishes_path %>
